@using MyPortfolio.Models
@model Contacts
@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>İletişim güncelleme sayfası</h2>
<br />
<form method="post">
    <input type="hidden" name="ContactID" value="@Model.ContactID" class="form-control" />
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" value="@Model.NameSurname" class="form-control" />
    @Html.ValidationMessageFor(x => x.NameSurname, "", new { @class = "text-danger" })
    <br />
    <label>Adress</label>
    <input type="text" name="Address" value="@Model.Address" class="form-control" />
    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
    <br />
    <label>Telefon No</label>
    <input type="text" name="Phone" value="@Model.Phone" class="form-control" />
    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
    <br />
    <label>Email</label>
    <input type="email" name="Email" value="@Model.Email" class="form-control" />
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-outline-success" value="Güncelle" />
</form>
