@model MyPortfolio.Models.Projects
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Yeni proje ekleme sayfası</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <label>Proje Adı</label>
    <input type="text" name="Name" class="form-control" />
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    <br />
    <label>Görsel</label>
    <input type="file" name="Image" class="form-control" />
    @Html.ValidationMessageFor(x => x.Image, "", new { @class = "text-danger" })
    <br />
    <label>Github</label>
    <input type="text" name="Github" class="form-control" />
    @Html.ValidationMessageFor(x => x.Github, "", new { @class = "text-danger" })

    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.Category, (List<SelectListItem>)ViewBag.CategoryList, "Seçiniz", new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Category, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Mesajınız")
    <textarea class="form-control" name="Description" id="summernote" asp-for="ContentBody"></textarea>

    <br />
    <input type="submit" class="btn btn-outline-danger" value="Kaydet" />
    <br />
    <br />
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $('#summernote').summernote({
        placeholder: 'Mesajınızı Giriniz.',
        tabsize: 2,
        height: 300,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

