@model MyPortfolio.Models.SocialMedias
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<br />
<h2>Sosyal Medya Güncelleme Sayfası</h2>
<br />

<form method="post">
    <input type="hidden" name="SocailMediaID" value="@Model.SocailMediaID" class="form-control" />
    @Html.Label("İkon")
    <input type="text" name="Icon"  value="@Model.Icon" class="form-control" />
    @Html.ValidationMessageFor(x => x.Icon, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Başlık")
    <input type="text" name="URL" value="@Model.URL" class="form-control" />
    @Html.ValidationMessageFor(x => x.URL, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Açıklama")
    <input type="text" name="Name" value="@Model.Name" class="form-control" />
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-outline-success" />
</form>






