@model MyPortfolio.Models.Features
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Öne Çıkan ekleme sayfası</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="FeatureID" value="@Model.FeatureID" class="form-control" />
    <label>Görsel</label>
    <input type="file" name="ImageUrl" value="@Model.ImageUrl" class="form-control" />
    @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })
    <br />
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname"  value="@Model.NameSurname" class="form-control" />
    @Html.ValidationMessageFor(x => x.NameSurname, "", new { @class = "text-danger" })
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-outline-success" value="Ekle" />
</form>



